* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --primary-color: #171717;
    --secondary-color: #444444;
    --tertiary-color: #DA0037;
    --quaternary-color: #EDEDED;
}

body {
    color: var(--primary-color);
    background-color: var(--quaternary-color);
}

header {
    padding: 10px 10px 10px 0px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
}

header h1 {
    font-weight: bold;
    font-size: 46px;
    background: var(--tertiary-color);
    color: #ffff;
    margin: 0px;
    padding: 10px 30px 5px 60px;
    color: var(--secondary-color);
}

header a {
    text-decoration: none;
    color: var(--tetiary-color);
}

header p {
    background-color: var(--quaternary-color);
    color:var(--tertiary-color);
    font-size: 24px;
    text-align: center;
}
header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    border-bottom: 2px solid var(--quaternary-color);
    margin: 15px;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.5vw;
}

footer {
    background: var(--secondary-color);
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    color: var(--primary-color);
    font-size: 30px;
    margin: 0;
    align-items: center;
    width: 100%;
}

footer section {
    line-height: 1.5;
    text-align: right;
    justify-content: flex-end;
}

footer p {
    list-style: none;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    color: var(--quaternary-color);
}

footer p img {
    margin: auto 5px auto 20px;
}

footer a {
    color: var(--quaternary-color);
}

section {
    padding: 30px;
}

section h2 {
    text-align: center;
}

section p {
    text-align: center;
}

section article section a img {
    border: 4px solid var(--secondary-color);
} 

.hero {
    background-image: url(../assets/images/herojpg.jpg);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    background-attachment: fixed;
    color: var(--secondary-color);
    justify-content: center;
    align-items: flex-start;
    background-position: center;
}

.hero img {
    position: relative;
    align-items: flex-start;
    align-content: flex-start;
}

.hero h2 {
    background-color: var(--quaternary-color);
    color: var(--tertiary-color);
    align-content: flex-start;
}

.headshot {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.section-title {
    align-items: center;
    text-align: center;
    font-size: 30px;
    background-color: var(--tertiary-color);
    color: var(--quaternary-color);
}

.projects {
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project {
    margin: 0;
}

.project-name {
    display: inline-flex;
    background-color: rgba(218, 0, 55, 0.8);
    color: var(--quaternary-color);
    padding: 20px 20px;
    position: relative;
    bottom: 100px;
}

.project-summary img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: 100vw;
    align-self: flex-end;
}

.project-summary-main img{
    /*max-width: 100%;*/
    height: auto;
    width: 2000px;
    align-self: flex-start;
}

.flex-row {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}

.project-text {
    position: relative;
    bottom: 120px;
    align-self: flex-end;
    text-align: right;
    font-size: 18px;
    color: var(--primary-color);
    background-color: rgba(237, 237, 237, 0.8);
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

@media screen and (max-width: 1020px) {
    .project-text {
        display: none;
    }
}

@media screen and (max-width:900px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }
    
    footer h2, footer section {
        text-align: center;
        width: 100%;
    }
}

@media screen and (max-width: 735px) {
    section {
        padding: 30px 15px;
    }

    .projects {
        padding: 0px;
    }
}

@media screen and (max-width: 575px) {
    .section-title {
        width: 95%;
    }
}